@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Poppins');


/*초기화*/
html,body,div,header,nav,section,aside,article,footer,figure,
figcaption,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,fieldset,p{
	margin:0;
	padding:0;
}
input,button,select,textarea {
  font-family: inherit;
}
ul,ol{
  list-style-type: none;
}
a{
  text-decoration: none;
	color:inherit;
}
a:hover,a:focus{
	color:#03a67b;
}
.hidden{
    position:absolute;
    left:-9999em;
  }


/*본문 셋팅*/
html{
 	font-size:10px;
  }
body{
  font-family: 'Poppins', sans-serif;
 	font-size:1.4rem;
 	color:#333333;
 }
   /*공통요소*/
 p{
  color:rgba(51, 51, 51, 0.6);
  font-size:1.6rem;
  line-height:1.5;
 }
 *{
	 box-sizing:border-box;
 }
body .wrap{
 	width:1440px;
 	margin:0 auto;
 	height:auto;
 }
 header,main,section,footer{
 	width:100%
 }

 section h2{
 	font-size:44px;
 	font-weight:600;
 	 }

/*헤더*/
header{
 padding:80px 150px 0 150px;
}
header .logo {
	display: inline-block;
	width:70px;

}
.menu{
	display: inline-block;
	float:right;
}
.menu-list li,.menu-list li a{
	display: inline-block;
	margin-top:-10px;
}
.menu-list li{
	font-weight:500;

}
.menu-list .green{
	color:rgba(3, 166, 123, 0.9);
}
.menu-list .green::after{
	content:" /";
	color:#f2f2f2;
}
.menu-list li button {
	width:22px;
	height:19px;
	background:url(img/icon.png) no-repeat 0 5px;
	overflow:hidden;
	border:0;
	text-indent:22px;
	margin-left:10px;
	margin-top: 20px;
	cursor:pointer;
}
/*섹션1 - intro*/
.intro{
  text-align: center;
  padding:0 300px;
  height:auto;
}
.intro h2{
  font-size: 52px;
  font-weight: 600;
  letter-spacing: -1.3px;
  margin-top:145px;
  text-align: center;


}
.intro p{
  text-align: center;
  width:780px;
  margin:35px 0 36px 20px;


}
.white-btn{
	width:200px;
	height:50px;
	background:#fff ;
	color:#03a67b;
	border:2px solid #03a67b;
	letter-spacing: 3px;
  line-height: 1.33;
	border-radius:4px;
	margin-left:15px;
  font-size:1.2rem;
}
.white-btn::before{
  content:url(img/icon-bullet.png);
  display: inline-block;
  margin-right:16px;
}
.intro img{
  margin-top:50px;
  }

/*섹션2 - media*/

.media{
  background: #03a67b;
  padding:136px 456px 145px 457px;
  text-align: center;
}

.media p {
width:540px;
color:#fff;
margin-top: 35px;
font-weight: normal;
}
.media button {
width:104px;
height:104px;
background:url(img/play-button.png) no-repeat;
border:0;
text-indent:104px;
overflow: hidden;
cursor:pointer;
}

/*섹션2 - features*/
.features{
  background:url(img/iphone.png) no-repeat 50% 253px;
  text-align: center;
  padding:104px 320px 87px 287px;
  height:860px;
}
.features-list{
  margin-top: 130px;
  position: relative;
}
.features-list div{
  width:240px;

}
.features-list .title {
  font-size: 1.2rem;
  font-weight:600;
  line-height: 1.33;
  letter-spacing: 3px;
  color:#03a67b;
  text-transform:uppercase
}
.features-list p {
  font-size: 1.4rem;
  color: rgba(51, 51, 51, 0.5);
  line-height: 1.57;
}
.features-list .no1  {
  width:247px;
}
.features-list .no2{
  margin-top:65px;
  width:225px;
}
.features-list .no3{
    position: absolute;
    top:0;
    right:25px;
    width:183px;
}
.features-list .no4{
  position: absolute;
  top:165px;
  right:0;
  width:225px;
}
.features-list::after{
  content:"";
  display:block;
  clear:both;
}

/*섹션3 - gallery*/
.gallery {
  background:#fcfcfc ;
  text-align: center;
  padding:102px 160px 99px 160px;
  position: relative;
}

.gallery-img {
  margin-top:58px;
  display: flex;
  flex-flow:row nowrap;
  justify-content: space-between;
}
.gallery button{
 cursor: pointer;
}
.gallery .left-btn{
  position: absolute;
  top:292px;
  left:49px;
  width:78px;
  height:78px;
  border:0;
  overflow: hidden;
  color:transparent;
  background:url(img/arr-circle-left.png) no-repeat;
}
.gallery .right-btn{
  position: absolute;
  top:292px;
  right:49px;
  width:78px;
  height:78px;
  border:0;
  overflow: hidden;
  color:transparent;
  background:url(img/arr-circle-right.png) no-repeat;
}

/*섹션4 - map*/
.map{
  text-align: center;
  padding:100px 182px 65px 182px;
  height:834px;
  background: url(img/map.png) no-repeat 182px 210px;
  position: relative;
}

.breif-box{
  background: #fff;
  width:362px;
  height:161px;
  position: absolute;
  top:386px;
  left:334px;
  padding-top:28px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.04);
}
.breif-box .map-brief {
  width:278px;
  margin:0 auto;
}
.breif-box .green-title{
  color:#03a67b;
  font-weight:500;
  line-height: 1.5;
  }
.breif-box .map-brief {
  width:278px;
  margin-top:12px;
  }

/*footer*/
footer{
  padding:60px 150px 77px 150px;
}
.footer-logo{
  text-align: left;
}
.footer-logo p {
  width:312px;
  color: rgba(51, 51, 51, 0.7);
}

.footer-menu{
  text-align:right;
  margin-top: -70px;
}
.footer-menu-list li,.footer-menu-list li a {
  display: inline-block;
}
.footer-menu-list li a{
  font-weight:600;
  letter-spacing: -0.1px;
  margin-left:15px;
}

.social-list li,.social-list li a{
  display: inline-block;
}
.social-list li a{
  margin:27px 15px;
}
